

.streaming-platforms
{
    overflow: hidden;
}



.streaming-platforms-container{
    margin: auto;
    width:100%;
  overflow: hidden;
  background: white;
   
}

.streaming-platforms-container{
justify-content: center;
display:flex ;
}

.streaming-platforms,li {
  

    list-style: none;
    text-decoration: none;
 }

 .streaming-platforms, a  {
    list-style: none;
    text-decoration: none;
   color: rgb(14, 13, 13);;
 }